{
  "env": {
    "development": {
      "plugins": ["transform-react-jsx"]
    },
    "production": {
      "presets": ["es2015", "react"]
    },
    "test":{
      "presets": ["react"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "add-module-exports"
      ]
    }
  }
}